
header{
    background-color: red;
    height: 200px;
    text-align: center;
    width: 100%;
}
p{
    position:relative;
    top: 50%;
}
nav{ 
    background-color: blue;
    text-align: center;
    height: 200px;
    width: 100%;
}
.container{
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.container_1{
    flex: 70%;
}
section{
    background-color: yellow;
    text-align: center;
    height: 200px;
}
article{
    background-color: green;
    text-align: center;
    height: 200px;
    color:white;
}
aside{
    background-color: black;
    text-align: center;
    height: 400px;
    width: 30%;
    margin-top:17px;
    color:white;
}
footer{
    background-color: pink;
    text-align: center;
    height: 200px;
}
