body{
    margin: 0;
}
.wrapper{
    width: 960px;
    height: auto;
    margin: 0 auto;
    padding : 10px;
    border: 1px solid black;
    background-color: yellow;
}
header{
    background-color: red;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
}
nav{ 
    background-color: blue;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin-top:10px;
}
main{
    width: 100%;
    height: 600px;
    display: flex;
    margin-top:10px;
}
.main-content{
    display: flex;
    text-align: center;
    flex:70%;
    flex-direction: column;
    margin-right: 10px;
    
}

section{
    background-color: rgb(243, 11, 231);
    height: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 10px;
}
article{
    background-color: green;
    text-align: center;
    height: 50%;
    color:white;
    display: flex;
    align-items: center;
    justify-content:center;
}
aside{
    background-color: black;
    height: 100%;
    flex: 30%;
    display: flex;
    align-items: center;
    justify-content:center;
    color:white;
}
footer{
    background-color: pink;
    display: flex;
    height: 200px;
    align-items: center;
    justify-content:center;
    margin-top: 10px;
}
